.container
{
    height: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.courses
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

.courseCard
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    text-align: center;
    width: calc(25% - 45px);
    padding: 15px;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.title
{
    color: var(--primary-color);
    margin: 0;
    font-size: 24px;
}

.desc
{
    line-height: 26px;
}

.more
{
    background-color: black;
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.intro
{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 28px;
    padding: 40px 0;
    display: flex;
    text-align: center;
}

@media screen and (max-width:520px)
{
    .courseCard
    {
        width: 100%;
        row-gap: 30px;
        height: auto;
        align-items: center;
    }

    .more
    {
        width: 30%;
    }
}