.container
{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 5px 20px;
    column-gap: 15px;
    background-color: var(--primary-bg);
    font-weight: 500;
}

.user
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.profile
{
    height: 30px;
    width: fit-content;
}

.logout
{
    font-size: 14px;
    padding: 5px 15px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 500;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.title
{
    cursor: pointer;
}

.form
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
}